<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>

    	<script type="text/javascript">
    		alert('Welcome user!')
    	</script>

        <% params[:users].each do |u| %>
            <%= u.name %>
            <br />
            <%= u.email %>

        <% end %>
    </body>
</html>
